body {
 font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.content{
    margin-top: 40px;
    width: 65%;
    float: left;
}

.sidebar{
    margin-top: 65px;
    margin-left: 0px;
    padding-left: 30px;
    width: 35%;
    float: left;
    background-color: #e3f2fd;
}
