{% extends 'blog.html' %}

{% block title %}Create Post - {{  block.super }}{% endblock %}


{% block content %}
<br>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'Post/includes/form.html' %}
                    <button type="submit" class="btn btn-primary bg-dark">Save
                    </button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
