{% extends 'Post/base_post.html' %}


{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block content %}
<br>
    <div class="row mt-3">
        <h2 class="head" style="text-align: center; font-family:'Times New Roman', Times, serif;">{{ post.title }}</h2>
        <div class="post" style="text-align: left; font-family: 'Times New Roman', Times, serif;">
            {{ post.body }}
        <br>
        <p class="footer" style="text-align: right;">
        Published by {{ post.author }} at {{ post.date_pub }}
            <div class="btn-group bg-dark btn-group-sm" style="text-align: center;" role="group">
                <a href="{% url 'post_update' pk=post.pk %}"><button type="button" class="btn btn-primary bg-dark">Update</button></a>
                <a href="#"><button type="button" class="btn btn-primary bg-dark">Delete</button></a>
                <a href="#"><button type="button" class="btn btn-primary bg-dark">Leave Comment</button></a>
            </div>
        </p>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
<p class="foto post">
    <img src="" alt="Posts foto">
</p>
{% endblock %}







