{% extends 'blog.html' %}
{% load static %}



{% block content %}
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                   {% for post in posts %}
                   <div class="card">
                    <div class="cardbody">
                   <article class="blog_item">
                    <div class="blog_item_img">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    
                                    <div class="carousel-inner">
                                        {% if post.photo %}
                                            <div class="carousel-item active" data-bs-interval="10000">
                                                <img src="{{ post.photo.url }}" class="d-block w-100" alt="...">
            
                                            </div>
                                            <div class="carousel-item" data-bs-interval="2000">
                                                <img src="{{ post.photo.url }}" class="d-block w-100" alt="...">
            
                                            </div>
                                            <div class="carousel-item">
                                                <img src="{{ post.photo.url }}" class="d-block w-100" alt="...">
            
                                            </div>
                                            {% endif %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                          </div>
                        
                    

                        <a href="#" class="blog_item_date">
                            <p>Published: {{ post.date_pub }}</p>
                        </a>
                    </div>

                    <div class="blog_details">
                        <a class="d-inline-block" href="{{ post.get_absolute_url }}">
                            <h2>{{ post.title }}</h2>
                        </a>
                        <p>{{ post.body|truncatewords:30 }}</p>
                        <ul class="blog-info-link">
                            
                                {% for t in post.tags.all %}
                                <li><a href="{% url 'tags_list' %}">Tags: {{ t.title }}</a></li>
                                {% endfor %}
                            
                            {% with comments_posts.count as total_comments %}
                            <li><a href="{% url 'post_detail' pk=post.pk %}">See all comments</a></li>
                            {% endwith %}
                        </ul>
                    </div>
                </article>
            </div>
            </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="{% url 'posts_list' %}">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword' name="search"
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btns" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Search</button>
                        </form>
                    </aside>
        <!-- Category - Tags -->
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title"><a href="{% url 'tags_list' %}">Category - Tags</a></h4>
                        <ul class="list cat-list">
                            <img src="{% static 'assets/img/post/post_8.png' %}" alt="category-image">
                            <img src="{% static 'assets/img/post/post_9.png' %}" alt="category-image">
                            <img src="{% static 'assets/img/post/post_10.png' %}" alt="category-image">
                        </ul>
                    </aside>
        <!-- Recent Posts -->
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        {% for post in posts %}
                        <div class="media post_item">
                            <img src="{{ post.photo.url }}" width="90" height="90" alt="post">
                            <div class="media-body">
                                <a href="#">
                                    <h3>{{ post.title }}</h3>
                                </a>
                                <p>{{ post.date_pub }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        
                        
                       
                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{% static 'assets/img/post/post_5.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{% static 'assets/img/post/post_6.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{% static 'assets/img/post/post_7.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{% static 'assets/img/post/post_8.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{% static 'assets/img/post/post_9.png' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{% static 'assets/img/post/post_10.png' %}" alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>

                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Subscribe</button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}



