{% extends 'blog.html' %}

{% block title %}Rules - {{ block.super }}{% endblock %}


{% block content %}
<br>
<div class="container">
    <div class="wrapper" style="font-family: 'Times New Roman', Times, serif;">
        <p>
            Thank you for being the greatest gift God could have ever blessed me with. Thank you for touching my life and adding new colors to it. Love you, best friend.
        </p>
        <p>
            You made my life memorable at every point, and I could not have asked for a better best friend. Thank you, bestie. I cannot imagine my life without you! Love you!
        </p>
        <p>
            I love how you value me and make sure to make me feel good about myself when I am suffering from my insecurities. You are the best thing that has ever happened to me. Love you, bestie.  
        </p>
        <p>
            You have got a million ways to make me laugh, and this is the best feeling ever. Thank you for always taking care of me and being there for me. I love you so much.
        </p>
    </div>

</div>

{% endblock %}







