{% extends 'blog.html' %}
{% load static %}



{% block content %}
<br>
<br>
<div class="row justify-content-center" style="text-align: center;">
  <div class="col-lg-3 col-md-8 col-sm-8">
    <div class="card">
      <div class="cardbody">
        <h3 class="card-title" >Log In</h3>
        <br>
        <form method="POST">
          {% csrf_token %}
          {% include 'Post/includes/form.html' %}
          <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </form>
        <div class="card-footer" style="text-align: center;">
                    New to Insta Blog? <a class="login" style="color: blue;" href="{% url 'signup' %}">Sign Up</a>
                </div>
      <h2><a href="{% url 'password_reset' %}">Are you forget password?</a></h2>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
