{% extends 'blog.html' %}

{% block title %}Change Password - {{ block.super }}{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">Change Password</h3>
                    <form method="post">
                        {% csrf_token %}
                        {% include 'Post/includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}








